# Environment
.env
.env.local
venv/
env/

# Django
*.pyc
__pycache__/
*.log
db.sqlite3
media/
staticfiles/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Virtual environments
/venv
/env
